<!--<i class="material-icons">group_add</i>-->
<!--<i class="material-icons-outlined">group_add</i>-->
<!--<i class="material-icons-two-tone">group_add</i>-->
<!--<i class="material-icons-round">group_add</i>-->
<!--<i class="material-icons-sharp">group_add</i>-->
<!-- CUSTOM HTML -->
<header class="fw-mb-primary page-header">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-3">
        <div class="logo">
          Why!
        </div>
      </div>
      <div class="d-none d-md-flex col-md-6">
        <nav class="page-header__nav">
          <a href="#">Browse</a>
          <a href="#">A-Z Index</a>
          <a href="#">About FAQs</a>
          <a href="#">User</a>
          <a href="#">Guide</a>
        </nav>
      </div>
      <div class="col-6 col-md-3 page-header__controls-list">
        <button class="page-header__controls-item">
          <i class="material-icons-outlined">search</i>
        </button>
        <button class="page-header__controls-item">
          <i class="material-icons-outlined">account_circle</i>
        </button>
      </div>
    </div>
  </div>
</header>

<div class="fw-mb-primary container">
  <div class="row">
    <div class="p-2 col-12">
      <section class="box box--hero">
        <i class="mb-2 box__italic">Dont just take our word for it!</i>
        <h1 class="mb-3 box__title">Read librarian reviews<br> of the <b class="box__hero">Why!</b> Digital Library</h1>
        <button class="btn btn-outline-danger">go to the reviews section</button>
      </section>
    </div>
    <div class="p-2 col-12 col-md-6">
      <div class="box box--dark box--height-full">
        <h2 class="box__small">Welcome to the R2 Digital Library</h2>
        <p class="box__descr box__descr--mb-xl">The best selection of constantly updated, Health Sciences focused, cross-referenced eContent. Featuring thousands of resources from the leading health sciences publishers—and growing every day.</p>
        <button class="btn btn-outline-info">Start a free 30-day trial</button>
      </div>
    </div>
    <div class="p-2 col-12 col-md-6">
      <div class="box box--video-absolute box--height-full">
        <h2 class="box__small box__small--red">Watch a quick demo of the R2 Digital Library in action</h2>
        <p class="box__descr">You'll see how the new version of the R2 Digital Library is a powerful eBook solution for your institution.</p>
        <div class="video-box box__video-absolute">
          <button class="video-box__play">
            <i class="material-icons-outlined">play_arrow</i>
          </button>
          <img class="img-responsive" src="./assets/images/img-video-box-1.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fw-mb-primary slider-block">
  <div class="container">
    <h2 class="mb-3 slider-block__title">Recently added</h2>
    <div class="content-container">
      <swiper *ngIf="type == 'component' && show" class="swiper-container" [config]="config" [disabled]="disabled" (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')" style="overflow: visible">
        <div *ngFor="let slide of slides" class="swiper-slide">
          <a class="slider-item">
            <div class="slider-item__preview">
              <img class="img-responsive" src="./assets/images/{{ slide.preview }}" alt="">
            </div>
            <h3 class="slider-item__title">{{ slide.descr }}</h3>
          </a>
        </div>
      </swiper>

      <div *ngIf="type == 'directive' && show" class="swiper-container" [disabled]="disabled" [swiper]="config" (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
        <div class="swiper-wrapper">
          <div *ngFor="let slide of slides" class="swiper-slide">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
              {{slide}}
            </div>
          </div>
        </div>

        <div class="swiper-scrollbar" [hidden]="config.scrollbar === false"></div>
        <div class="swiper-pagination" [hidden]="config.pagination === false"></div>
      </div>
    </div>
  </div>
</div>

<div class="fw-mb-primary container">
  <div class="row">
    <div class="pb-2 col-12">
      <div class="box box--dark">
        <div class="row">
          <div class="col-12 col-md-6">
            <h2 class="box__title">Expand Your Library Beyond eBooks...</h2>
          </div>
          <div class="col-12 col-md-6">
            <p class="box__descr">The R2 Digital Library is a web based database available from Rittenhouse Book Distributors. It offers fully integrated and searchable medical, nursing and allied health source book content from key health science publishers, on a web based platform.</p>
            <button class="btn btn-outline-info">See full list of titles</button>
          </div>
        </div>
      </div>
    </div>
    <div class="p-2 col-12 col-md-6">
      <div class="box box--feature box--first-feature box--height-full">
        <i class="material-icons-outlined box__icon box__icon--mb-s box__icon--red">group_add</i>
        <p class="box__descr">Connect your users with essential health sciences content from the leading publishers - on a platform designed to enhance it</p>
      </div>
    </div>
    <div class="p-2 col-12 col-md-6">
      <div class="box box--feature box--height-full">
        <i class="material-icons-outlined box__icon box__icon--mb-s box__icon--blue">api</i>
        <p class="box__descr">Select resources at the title level and pay once for life of edition access</p>
      </div>
    </div>
    <div class="p-2 col-12 col-md-6">
      <div class="box box--feature box--height-full">
        <i class="material-icons-outlined box__icon box__icon--mb-s box__icon--green">layers</i>
        <p class="box__descr">Explore consortia, patron driven Acquisition and turnkey collection development solutions</p>
      </div>
    </div>
    <div class="p-2 col-12 col-md-6">
      <div class="box box--feature box--height-full">
        <i class="material-icons-outlined box__icon box__icon--mb-s box__icon--yellow">local_library</i>
        <p class="box__descr">Incorporate workflow, integration and collaboration tools designed for the contemporary library</p>
      </div>
    </div>
  </div>
</div>

<div class="fw-mb-primary slider-block">
  <div class="container">
    <h2 class="mb-3 slider-block__title">Most popular</h2>
    <div class="content-container">
      <swiper *ngIf="type == 'component' && show" class="swiper-container" [config]="config" [disabled]="disabled" (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')" style="overflow: visible">
        <div *ngFor="let slide of slides" class="swiper-slide">
          <a class="slider-item">
            <div class="slider-item__preview">
              <img class="img-responsive" src="./assets/images/{{ slide.preview }}" alt="">
            </div>
            <h3 class="slider-item__title">{{ slide.descr }}</h3>
          </a>
        </div>
      </swiper>

      <div *ngIf="type == 'directive' && show" class="swiper-container" [disabled]="disabled" [swiper]="config" (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
        <div class="swiper-wrapper">
          <div *ngFor="let slide of slides" class="swiper-slide">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
              {{slide}}
            </div>
          </div>
        </div>

        <div class="swiper-scrollbar" [hidden]="config.scrollbar === false"></div>
        <div class="swiper-pagination" [hidden]="config.pagination === false"></div>
      </div>
    </div>
  </div>
</div>

<div class="fw-mb-primary container">
  <div class="box box--bg-book">
    <div class="box__book-descr">
      <i class="box__italic">Featured publisher</i>
      <h2 class="box__title">Health Administration Press</h2>
      <button class="btn btn-outline-danger">See full list of titles</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="mb-3 box box--dark">
        <h2 class="mb-3 box__title">Benefits of eContent and the R2 Digital Library</h2>
        <p class="mb-3 box__descr">If you’ve been thinking of including digital content into your library collection, but haven’t yet made the switch, here are answers to some very common questions about the benefits of using eContent and the R2 Digital Library as your platform.</p>
        <button class="btn btn-outline-info">visit our help section</button>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="box-vertical-holder">
        <div class="mb-4 box box--dark box--height-full">
          <h2 class="mb-3 box__title">Does the R2 Library have the Titles I need?</h2>
          <p class="box__descr">We have thousands of resources from the leading health sciences publishers, so chances are, the answer is yes. To be sure, use the search function at the top of the page to access a listing of active R2 titles.</p>
        </div>
        <div class="box box--alert">
          <i class="mr-3 material-icons-outlined box__icon box__icon--size-s">help_outline</i>
          1.800.345.6425 X601   /   info@r2library.com
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="page-footer">
  <p class="page-footer__copyright">
    © 2003 - 2020 Rittenhouse Book Distributors, Inc. All rights reserved
  </p>
  <div class="page-footer__nav">
    <a href="#">Privacy Policy</a>
    <a href="#">Copyright Policy</a>
    <a href="#">VPAT®</a>
    <a href="#">Contact Us</a>
  </div>
</footer>


<!--<router-outlet></router-outlet>-->
